NOVACANVAS_FIREBASE_PROJECT_ID=novacanvas
NOVACANVAS_FIREBASE_AUTH_DOMAIN=novacanvas.firebaseapp.com
NOVACANVAS_FIREBASE_STORAGE_BUCKET=novacanvas.firebasestorage.app
NOVACANVAS_FIREBASE_MESSAGING_SENDER_ID=439001638626
NOVACANVAS_FIREBASE_APP_ID=1:439001638626:web:b42cf86c3be1f232f6a0bb
NOVACANVAS_FIREBASE_API_KEY=AIzaSyAWL2mF4pz2nuXW1IbzJdxlV3Fm7ypVlVc
