NOVACANVAS_FIREBASE_PROJECT_ID=novacanvas-cad87
NOVACANVAS_FIREBASE_AUTH_DOMAIN=novacanvas-cad87.firebaseapp.com
NOVACANVAS_FIREBASE_STORAGE_BUCKET=novacanvas-cad87.firebasestorage.app
NOVACANVAS_FIREBASE_MESSAGING_SENDER_ID=1060494152856
NOVACANVAS_FIREBASE_APP_ID=1:1060494152856:web:ddc165b73e80f308622ced
NOVACANVAS_FIREBASE_API_KEY=AIzaSyCAsgF00-Kn7NN1O_KigSA_3TDBk1kgFj4
NOVACANVAS_FIREBASE_MEASUREMENT_ID=G-CFEKKPDWN4
